*, html, body {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* box-sizing: border-box; */
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}



#root {
  width: 100vw;
}

#header {
  box-sizing: border-box;
}
